#visibility-menu-button {
    color: #c7c7c7;
}

#menu-panel {
    background-color: #82b9FF;
    height: 95vh;
    padding: 0px;
}

#accordion {
    margin-top: 0px;
}

#breakpoint-body {
    max-height: 300px;
    overflow: auto;
}

#add-breakpoint {
    padding: 0px;
}

#example5 {
    width: 130px;
}

#simulation-velocity {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

#graph {
    background-color: white;
    height: 95vh;
    padding: 0px;
}

#container-graph {
    min-width: 310px;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.container-fluid {
    padding: 0px;
}

.col-xs-12 {
    height: 5vh;
    padding: 0px;
    background-color: #194276;
}

.col-sm-12 {
    height: 5vh;
    padding: 0px;
    background-color: #194276;
}

.col-md-12 {
    height: 5vh;
    padding: 0px;
    background-color: #194276;
}

.col-lg-12 {
    height: 5vh;
    padding: 0px;
    background-color: #194276;
}

.col-xs-1 {
    padding-left: 10px;
    padding-top: 6px;
}

.col-sm-1 {
    padding-left: 10px;
    padding-top: 6px;
}

.col-md-1 {
    padding-left: 10px;
    padding-top: 6px;
}

.col-lg-1 {
    padding-left: 10px;
    padding-top: 6px;
}

.fa {
    color: #c7c7c7;
}

.fa-align-justify {
    color: #c7c7c7;
}

.fa-2x {
    color: #c7c7c7;
}

.col-xs-offset-5 {
    padding: 0px;
    padding-top: 5px;
    text-align: right;
    float: right;
}

.col-sm-offset-8 {
    padding: 0px;
    padding-top: 5px;
    text-align: right;
    float: right;
}

.col-md-offset-7 {
    padding: 0px;
    padding-top: 5px;
    text-align: right;
    float: right;
}

.col-xs-6 {
    padding: 0px;
    padding-top: 5px;
    text-align: right;
    float: right;
}

.col-sm-3 {
    padding: 0px;
    padding-top: 5px;
    text-align: right;
    float: right;
}

.col-md-4 {
    padding: 0px;
    padding-top: 5px;
    text-align: right;
    float: right;
}

.col-lg-3 {
    padding: 0px;
    padding-top: 5px;
    text-align: right;
    float: right;
}

.col-md-offset-5 {
    height: 100%;
}

.zoom-index {
    height: 100%;
}

.fa-search-plus {
    color: #c7c7c7;
}

.vertical-line {
    color: #c7c7c7;
}

.fa-search-minus {
    color: #c7c7c7;
}

.col-xs-2 {
    background-color: #82b9FF;
    height: 95vh;
    padding: 0px;
}

.col-sm-2 {
    background-color: #82b9FF;
    height: 95vh;
    padding: 0px;
}

.col-md-2 {
    background-color: #82b9FF;
    height: 95vh;
    padding: 0px;
}

.col-lg-2 {
    background-color: #82b9FF;
    height: 95vh;
    padding: 0px;
}

.animated {
    background-color: #82b9FF;
    height: 95vh;
    padding: 0px;
}

.panel-group {
    margin-top: 0px;
}

.left-menu {
    margin-top: 0px;
}

.panel {
    margin-top: 0px;
}

.panel-default {
    margin-top: 0px;
}

.fa-lg {
    padding: 3px;
}

.col-xs-9 {
    padding: 0px;
}

.col-sm-9 {
    padding: 0px;
}

.col-md-9 {
    padding: 0px;
}

.col-lg-9 {
    padding: 0px;
}

.datepicker {
    width: 130px;
}

.calendar-button {
    padding: 0px;
}

.fa-calendar {
    border: 1px;
    padding: 3px;
}

.breakpoint-slot {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    visibility: hidden;
}

.close-breakpoint {
    padding: 0px;
}

.fa-close {
    color: red;
}

.time-slot {
    padding: 0px;
}

.fa-bomb {
    border: 1px;
    padding: 3px;
}

.col-sm-5 {
    padding-left: 0px;
}

.col-md-5 {
    padding-left: 0px;
}

.col-lg-5 {
    padding-left: 0px;
}

.form-control {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.col-xs-10 {
    background-color: white;
    height: 95vh;
    padding: 0px;
}

.col-sm-10 {
    background-color: white;
    height: 95vh;
    padding: 0px;
}

.col-md-10 {
    background-color: white;
    height: 95vh;
    padding: 0px;
}

.col-lg-10 {
    background-color: white;
    height: 95vh;
    padding: 0px;
}

.col-xs-7 {
    height: 500px;
}

.col-sm-7 {
    height: 500px;
}

.col-md-7 {
    height: 500px;
}

.col-lg-7 {
    height: 500px;
}

.col-md-offset-1 {
    padding-top: 3vh;
}

.col-xs-5 {
    padding-top: 3vh;
}

.btn-group {
    padding-bottom: 50px;
}