/*TODO Echar un vistazo a Sass*/

.vertical-line {
    display: inline;
}

.zoom-index {
    background-color: white;
    margin-right: 5px;
    height: 100%;
    display: inline-block;
}



/*Acordeon cuadrado*/
.panel-group .panel {
    border-radius: 0px;
}

.left-menu {
    margin-top: 50px;
    text-decoration: none;
}
.panel-title a{
    text-decoration: none;
}



/*timepicker*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
/*end time picker*/

/* Graph style*/

/* tell the SVG path to be a thin blue line without any area fill */
/*path {*/
    /*stroke: steelblue;*/
    /*stroke-width: 1;*/
    /*fill: none;*/
/*}*/

/*.axis {*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*.x.axis line {*/
    /*stroke: lightgrey;*/
/*}*/

/*.x.axis .minor {*/
    /*stroke-opacity: .5;*/
/*}*/

/*.x.axis path {*/
    /*display: none;*/
/*}*/

/*.y.axis line, .y.axis path {*/
    /*fill: none;*/
    /*stroke: #000;*/
/*}*/

/*Simulation States Buttons*/
.Simulation-state-buttons{
    padding-top: 1% ;
    padding-left: 15vh;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.Simulation-state-buttons > i{
    font-size: 19px;
    padding-left: 6px;
    padding-right: 6px;
}
/* END Simulation States Buttons*/

/*   Sensor Modal */

#selectable-sensor {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    width: 60%;
}
#selectable-sensor .ui-selected {
    background: #010098;
    color: white;
    font-weight: bold;
}

#selectable-sensor.ui-selecting {
    background: #F39814;
    color: white;
}

#selectable-sensor li {
    margin: 3px;
}


/*  End Sensor Modal */

/* Simulation Modal*/

#title-simulation-selection{
    padding-top: 5px;
}
#selectable-simulation {
    list-style-type: none;
    margin: 5px;
    padding: 25px;
    width: 80%;
    text-align: center;
}
#selectable-simulation .ui-selected {
    background: #010098;
    color: white;
    font-weight: bold;
}

#selectable-simulation.ui-selecting {
    background: #F39814;
    color: white;
}

#selectable-simulation li {
    margin: 3px;
}

/* End Simulation Modal*/

/* Pogress bar*/
#inner-progressbar > .ui-progressbar-value{
    color:red;
    background: rgb(216,18,18);
}

#progressbar > .ui-progressbar-value {
    background: white;
}
/* End Pogress bar*/

.nopadding{
    padding: 0px;
}

.legend-square-color{
    width:15px;
    height:15px;
}

.nomargin{
    margin: 0px;
}